body{
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  overflow-x : hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-content{
  padding-left: 20px;
}

.subsection-title {
  color: #0e0e25;
  padding: 35px 0 5px;
  font-size: 20px;
}
.styleguide-presentational-page{
  background : #e0e0e0;
}

h2.presentation-tiny-title {
  font-size: 11px;
}


h2.section-title{
  font-size: 45px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.wrapper{
  width: calc(100vw - 250px);
  -webkit-transform: translateX(235px);
      -ms-transform: translateX(235px);
          transform: translateX(235px);
}

.section-line-top{
  position: relative;
}


.hidden-textarea{
  width:0;
  height:0;
  opacity: 0;
  position: absolute;
}

.class-to-copy{
  cursor: pointer;
}

.color-code {
  font-size: 11px;
}

.color-class {
  font-size: 11px;
}

.fake-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.fake-table > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding: 30px 5px;
}

.fake-table > *:last-child{
  border: none;
}
.fake-table > * > *:nth-child(1){
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.fake-table > * > *:nth-child(2){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-table {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat( auto-fit, 180px );
  text-align: center;
  grid-gap: 10px 0;
  width: 100%;
}

.grid-table > *{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 150px;
}

.grid-table > * > *:nth-child(1){
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
}

.black-item{
  color: white;
  background: rgba(0,0,0,.8);
}

.example{
  font-size: 13px;
}

.example-story{
  font-size: 10px;
}


.section{
  padding-top: 50px;
}

.section-title{
  font-size: 35px;
}


/* styleguide-navigation */
.styleguide-navigation{
  overflow-y: auto;
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(243, 243, 243);
  -webkit-box-shadow: 1px 0px 23px rgb(0, 0, 0, .2);
          box-shadow: 1px 0px 23px rgb(0, 0, 0, .2);
  padding : 20px 10px 20px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h5.navigation-section-title {
  opacity: .8;
  font-size: 13px;
}

.filters-list{
  padding-left: 10px;
}

li.filters-list-item {
  margin-bottom: 5px;
}

h2.navigation-section-title {
  font-size: 16px;
  cursor : pointer
}

.navigation-section-title{
  cursor: pointer;
}

.styleguide-navigation > *:nth-child(1) > h2{
  margin: 25px 0 10px;
}

.expand-button{
  position: relative;
}
.expand-button svg {
  width: 8px;
  height: 8px;
  opacity: .8;
  position: absolute;
  left: -12px;
  top: 5px;
  -webkit-transition: .2s linear all;
  -o-transition: .2s linear all;
  transition: .2s linear all;
}

* > .expand-button svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

*.expanded > .expand-button svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* pop-out copy start*/
.pop-out-copied {
  width: 260px;
  background: rgba(0,0,0,.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: calc(50% - 280px);
  text-align: center;
  padding: 10px 0;
  z-index: 2000;
  -webkit-transition: .3s linear all;
  -o-transition: .3s linear all;
  transition: .3s linear all;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .2s cubic-bezier(0, 0, 0.2, 1.1) all;
  -o-transition: .2s cubic-bezier(0, 0, 0.2, 1.1) all;
  transition: .2s cubic-bezier(0, 0, 0.2, 1.1) all;
}
/* pop-out copy end*/


/* Fake nav-bar start */
.fake-nav-bar{
  padding : 10px 20px;
  z-index: 10;
  position: relative;
}

.fake-nav-bar .content-top {
  margin-bottom: 20px;

}


ul.big-components-list li {
  margin: 5px 10px 5px 0;
  padding-left: 12px;
}

.colapsable-list {
  -webkit-transition : .4s linear all;
  -o-transition : .4s linear all;
  transition : .4s linear all;
  overflow: hidden;
}

.colapsable-list > *:nth-child(1){
  padding-top: 5px;
}

.colapsable-list.main-list > *:last-child{
  padding-bottom: 20px;
}


.fake-nav-bar .filters-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fake-nav-bar .filters-list > *{
  margin-right: 10px;
}

/* Fake nav-bar end */

/* Color palette start */

.color-palette-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}

.color-palette-list > * {
  margin: 30px 15px 15px 0;
}

.color-palette-list .color-palette-box  {
  width: 180px;
  height: 110px;
  border-radius: 5px;
  margin: 5px 0;
  padding: 0 10px;
}

.color-palette-list .color-code {
  margin-top: 2px;
  color: rgba(0,0,0,.5);
}

.color-palette-list .color-class {
  margin-top: 8px;
}

/* Color paletter end */

/* Typography start */


.gb-typography-colors-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

ul.gb-typography-colors-list.page-section > * {
  margin: 20px 10px;
  width: 170px;
}

.color-code {
  margin-top: 3px;
  color: rgba(0,0,0,.5);
}

.color-class {
  margin-top: 5px;
}

.text-color-variations-list,
.icon-color-variations-list{
  font-size: 12px;
}
.text-color-preview {
  font-size: 60px;
}

.color-variation-heading {
  margin: 15px 0 5px;
}

.gb-typograpy-titles-list,
.gb-typograpy-subtitles-list,
.gb-typograpy-paragraph-list,
.gb-typograpy-label-list,
.gb-typograpy-styles-list{
  padding: 0 20px;
}

.gb-typograpy-titles-item,
.gb-typograpy-subtitles-item,
.gb-typograpy-paragraph-item,
.gb-typograpy-label-item,
.gb-typograpy-styles-item{
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.gb-typograpy-titles-item:last-child,
.gb-typograpy-subtitles-item:last-child,
.gb-typograpy-paragraph-item:last-child,
.gb-typograpy-label-item:last-child,
.gb-typograpy-styles-item:last-child{
  border : none;
}

.gb-typograpy-titles-item > *:nth-child(1),
.gb-typograpy-subtitles-item > *:nth-child(1),
.gb-typograpy-paragraph-item > *:nth-child(1),
.gb-typograpy-label-item > *:nth-child(1),
.gb-typograpy-styles-item > *:nth-child(1){
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: left;
  margin-right: 5%;
  font-size : 13px;
}

.dummy-text {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: left;
}

.typograpy-subtitles{
  margin: 50px 0 10px;
  text-align: left;
  padding: 0 20px;
  font-weight: 500;
  text-decoration: underline;
  font-size: 20px;
  opacity: .8;
}

/* Typography end */

/* Icons start */

.gb-icons-sizes,
.gb-icons-colors{
  width: 100%;
}

.icons-sizes-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.icon-color-example{
  width : 80px;
  height : 80px;
}

li.icons-colors-item{
  padding: 20px 0px;
}
.icon-sizes-icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
}

ul.icons-colors-list.page-section > *{
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px
}

.icons-colors-list .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

/* Icons end */

/* Avatars statrt */
.avatars-size-avatar-image{
  background-image : url(../images/profile.jpg);
}
.avatars-table {
  font-size: 13px;
  margin: 30px 0;
}

.avatar-size-image-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

/* Avatars end */

/* Buttons start */

.double-button > *:nth-child(1){
  margin-right: 50px;
}

.buttons-table{
  font-size: 13px;
}


h6.tiny-heading {
  margin-bottom: 5px;
}

.current-type-button > * {
  margin: 5px 0;
}
.current-type-buttons-both> * {
  margin: 0 20px;
}
.current-type-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Buttons end */

/* Switcher start */
.gb-switchers-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  margin-top: 30px;
}
ul.gb-switchers-list > * {
  margin: 0 20px;
}
li.gb-switcher-item > * {
  margin: 10px 0;
}
/* Switcher end */



/* Cards-label start */

.gb-cards-label-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gb-cards-label-item {
  width: 300px;
  margin: 0 20px;
  padding-bottom : 5px;
}
.card-label-title {
  margin-top: 30px;
}
.gb-cards-label-on-top{
  background: #e0e0e0;
  padding: 31px 0 8px;
  margin-bottom: 7px;
  font-size: 13px;
}
.card-label-info{
  font-size: 13px;
}
/* Cards-label end */

/* Components styling start */
.copy-button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  padding: 5px 20px;
  background: rgba(255, 43, 16, 0.87);
  border-bottom: 3px solid rgba(150, 18, 1, 0.87);
  border-radius: 5px;
  color: white;
  z-index: 1000;
}

.copy-button:hover{
  border-bottom: 0;
  border-top: 3px solid rgba(150, 18, 1, 0.87);
}


.input-wrapper .section-content{
background: rgba(0, 0, 0, 0.8);

}

/* Components styling end */